:root {
  /* --account-center-position-top:-100px; */
}

body {
  background: #0f1011;
  padding: 0;
  margin: 0;
}
:root {


  /* CUSTOMIZE ACCOUNT CENTER*/
  --account-center-z-index:2;
  
  /* MAIN MODAL POSITIONING */
  --onboard-modal-z-index:2;
  
  /* HD WALLET ACCOUNT SELECT MODAL POSITIONING */
  --onboard-account-select-modal-z-index:2;
  

  /* MAGIC WALLET MODAL POSITIONING */
  --onboard-login-modal-z-index:2;
  
  --notify-onboard-z-index:2;
  
}